
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @data[:number] %></title>
  <style>
    <%= @css %>
  </style>
</head>
<body>
<header class="clearfix">
  <div id="logo">
    <img src="<%= @data[:logo] %>" alt="Logo">
  </div>
  <h1>INVOICE <%= get_bill_id %></h1>
  <div id="company" class="clearfix">
    <div><%= @data[:company][:company_name] %></div>
    <div><%= @data[:company][:company_address] %><br /> <%= @data[:company][:company_city] %>, <%= @data[:company][:company_country] %></div>
    <div><%= @data[:company][:company_phone] %></div>
    <div><a href="mailto:<%= @data[:company][:company_email] %>"><%= @data[:company][:company_email] %></a></div>
  </div>
  <div id="project">
    <div><span>PROJECT</span> <%= @data[:client][:project_name] %></div>
    <div><span>CLIENT</span> <%= @data[:client][:name] %></div>
    <div><span>ADDRESS</span> <%= @data[:client][:address] %></div>
    <div><span>EMAIL</span> <a href="mailto:<%= @data[:client][:email] %>"><%= @data[:client][:email] %></a></div>
    <div><span>DATE</span> <%= @data[:client][:date] %></div>
    <div><span>DUE DATE</span> <%= @data[:client][:due_date] %></div>
  </div>
</header>
<main>
  <table>
    <thead>
    <tr>
      <th class="service">SERVICE</th>
      <th class="desc">DESCRIPTION</th>
      <th>PRICE</th>
      <th>QTY</th>
      <th>TOTAL</th>
    </tr>
    </thead>
    <tbody>
    <% @data[:services][:services].each do |service| %>
    <tr>
      <td class="service"><%= service[:name] %></td>
      <td class="desc"><%= service[:description] %></td>
      <td class="unit"><%= service[:unit] %><%= service[:currency] %></td>
      <td class="qty"><%= service[:quantity] %></td>
      <td class="total"><%= service[:quantity].to_i * service[:unit].to_i %><%= service[:currency] %></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="4">SUBTOTAL</td>
      <td class="total"><%= @data[:services][:subtotal] %></td>
    </tr>
    <tr>
      <td colspan="4">TAX 25%</td>
      <td class="total"><td class="total"><%= @data[:services][:tax] %></td>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="grand total">TOTAL</td>
      <td class="grand total"><td class="total"><%= @data[:services][:total] %></td>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="notices">
    <div>NOTICE:</div>
    <div class="notice"><%= @data[:other][:notice] %></div>
  </div>
</main>
<footer>
    <%= @data[:other][:footer] %>
</footer>
</body>
</html>