
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @data[:number] %></title>
  <style>
    <%= @css %>
  </style>
</head>
<body>
<header class="clearfix">
  <% if @data[:logo] %>
  <div id="logo">
    <img src="<%= @data[:logo] %>" alt="Logo">
  </div>
  <% end %>
  <h1><%= I18n.t :invoice %> <%= @data[:number] %></h1>
  <div id="company" class="clearfix">
    <div><%= @data[:company][:company_name] %></div>
    <% if @data[:company][:vat] %>
      <div><%= @data[:company][:vat] %></div>
    <% end %>
    <div><%= @data[:company][:company_address] %><br /> <%= @data[:company][:company_city] %>, <%= @data[:company][:company_country] %></div>
    <% if @data[:company][:company_phone] %>
      <div><%= @data[:company][:company_phone] %></div>
    <% end %>
    <% if @data[:company][:company_email] %>
      <div><a href="mailto:<%= @data[:company][:company_email] %>"><%= @data[:company][:company_email] %></a></div>
    <% end %>
  </div>
  <div id="project">
    <% if @data[:client][:project_name] %>
      <div><span><%= I18n.t :project %></span> <%= @data[:client][:project_name] %></div>
    <% end %>
    <div><span><%= I18n.t :client %></span> <%= @data[:client][:name] %></div>
    <div><span><%= I18n.t :vat %></span> <%= @data[:client][:vat] %></div>
    <div><span><%= I18n.t :address %></span> <%= @data[:client][:address] %></div>
    <% if @data[:client][:email] %>
      <div><span>EMAIL</span> <a href="mailto:<%= @data[:client][:email] %>"><%= @data[:client][:email] %></a></div>
    <% end %>
    <div><span><%= I18n.t :bill_date %></span> <%= @data[:client][:bill_date] %></div>
    <div><span><%= I18n.t :delivered %></span> <%= @data[:client][:date] %></div>
    <div><span><%= I18n.t :due_date %></span> <%= @data[:client][:due_date] %></div>
  </div>
</header>
<main>
  <table>
    <thead>
    <tr>
      <th class="service"><%= I18n.t :service %></th>
      <th class="desc"><%= I18n.t :description %></th>
      <th><%= I18n.t :price %></th>
      <th><%= I18n.t :qty %></th>
      <th><%= I18n.t :total %></th>
    </tr>
    </thead>
    <tbody>
    <% @data[:services][:services].each do |service| %>
    <tr>
      <td class="service"><%= service[:name] %></td>
      <td class="desc"><%= service[:description] || '-' %></td>
      <td class="unit"><%= service[:unit].to_f.round_money %> <%= @data[:services][:currency] %></td>
      <td class="qty"><%= service[:quantity] %></td>
      <td class="total"><%= (service[:quantity].to_i * service[:unit].to_i).round_money %> <%= @data[:services][:currency] %></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="3"><%= I18n.t :subtotal %></td>
      <td class="total"><td class="total"><%= @data[:services][:subtotal].round_money %> <%= @data[:services][:currency] %></td></td>
    </tr>
    <tr>
      <td colspan="3"><%= I18n.t :tax %> <%= @data[:services][:tax_percentage] %>%</td>
      <td class="total"><td class="total"><%= @data[:services][:tax].round_money %> <%= @data[:services][:currency] %></td>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="grand total"><%= I18n.t :total %></td>
      <td class="grand total"><td class="grand total"><%= @data[:services][:total].round_money %> <%= @data[:services][:currency] %></td>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="notices">
    <div><%= I18n.t :notice %>:</div>
    <div class="notice"><%= @data[:other][:notice] %></div>
    <div><%= I18n.t :payment_method %>:</div>
    <div class="notice"><%= @data[:other][:payment_method] %></div>
    <div><%= I18n.t :operator %>:</div>
    <div class="notice"><%= @data[:other][:operator] %></div>
    <div><%= I18n.t :acc_number %>:</div>
    <div class="notice"><%= @data[:company][:iban] %></div>
    <div><%= I18n.t :pay_id %>:</div>
    <div class="notice"><%= @data[:other][:pay_number] %></div>
  </div>
</main>
<footer>
  <div id="other">
    <div class="column-left">
      <p class="title"><%= I18n.t :our_address %></p>
      <p><%= @data[:company][:company_address] %></p>
      <p><%= @data[:company][:company_city] %></p>
      <p><%= @data[:company][:company_country] %></p>
    </div>
    <div class="column-center">
      <p class="title"><%= I18n.t :legal %></p>
      <p><%= I18n.t :vat %>: <%= show(@data[:company][:vat]) %> </p>
      <p><%= I18n.t :iban %>: <%= show(@data[:company][:iban]) %> </p>
      <p><%= I18n.t :swift %>: <%= show(@data[:company][:swift]) %> </p>
    </div>
    <div class="column-right">
      <p class="title">Contact</p>
      <p>EMAIL: <%= show(@data[:company][:company_email]) %> </p>
      <p><%= I18n.t :phone %>: <%= show(@data[:company][:company_phone]) %> </p>
    </div>
  </div>
  <p>
    <%= @data[:other][:footer] %>
  </p>
</footer>
</body>
</html>